<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/com/bootstrap.min.css" >
<style>
	.input-group-text{width:100%;background-color:linen;
		color:black;font-weight:bolder;}
	.input-group-prepend{width:20%;}
</style>
<script src="/com/jquery-3.7.1.js"></script>
<script src="/com/bootstrap.min.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		let msg = "{{msg}}"
		if(msg!=""){
			if(!confirm(msg+"\n"+"계속 등록하시겠습니까?")){
				location.href="empList"
			}
		}
	});
</script>
</head>

<body>
<div class="jumbotron text-center">
  <h2>사원정보등록</h2>
</div>
    <div class="container">
		<form method="post">
		<div class="input-group mb-3">	
			<div class="input-group-prepend ">
				<span class="input-group-text  justify-content-center">사원번호</span>
			</div>
			<input name="empno" class="form-control" value="" />	
		</div>	
		<div class="input-group mb-3">	
			<div class="input-group-prepend ">
				<span class="input-group-text  justify-content-center">사원명</span>
			</div>
			<input name="ename" class="form-control" value="" />	
		</div>	
		<div class="input-group mb-3">	
			<div class="input-group-prepend ">
				<span class="input-group-text  justify-content-center">직책명</span>
			</div>
			<input name="job" class="form-control" value="" />	
		</div>	
		<div class="input-group mb-3">	
			<div class="input-group-prepend ">
				<span class="input-group-text  justify-content-center">관리자번호</span>
			</div>
			<input name="mgr" class="form-control" value="" />	
		</div>	

		<div class="input-group mb-3">	
			<div class="input-group-prepend ">
				<span class="input-group-text  justify-content-center">입사일</span>
			</div>
			<input type="date" name="hiredate" class="form-control" value="" />	
		</div>	

		<div class="input-group mb-3">	
			<div class="input-group-prepend ">
				<span class="input-group-text  justify-content-center">급여</span>
			</div>
			<input name="sal" class="form-control" value="" />	
		</div>	
		<div class="input-group mb-3">	
			<div class="input-group-prepend ">
				<span class="input-group-text  justify-content-center">보너스</span>
			</div>
			<input name="comm" class="form-control" value="" />	
		</div>	
		<div class="input-group mb-3">	
			<div class="input-group-prepend ">
				<span class="input-group-text  justify-content-center">부서번호</span>
			</div>
			<input name="deptno" class="form-control" value="" />	
		</div>	
		<div style="text-align:right;">
				<input type="submit" class="btn btn-success" value="등록" />
				<input type="button" class="btn btn-info" onclick="location.href='empList'" value="조회리스트" id="mainBtn"/>
		</div>	
		</form>		
    </div>  
</body>