<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/com/bootstrap.min.css" >
<style>
	td{text-align:center;}
</style>
<script src="/com/jquery-3.7.1.js"></script>
<script src="/com/bootstrap.min.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		$("#schBtn").click(function(){
			$.ajax({
				url:"ajax14",
				dataType:"json", // 문자열된 json ==> 객체
				success:function(plist){
					// let plist =[{"name":"사과","price":3000,"cnt":2},{"name":"...
					var addHTML = "";
					$(plist).each(function(idx, prod){ //let prod ={"name":"사과","price":3000,"cnt":2}
						addHTML += `<tr><td>${idx+1}</td><td>${prod.name}</td>
										<td>${prod.price}</td><td>${prod.cnt}</td></tr>`
					})
					// 서버에 있는 데이터를 html코드로 테이블 행단위 만들어서, 최종적을 tbody에 할당..
					$("tbody").html(addHTML)
				}
			})
		})
	});
</script>
</head>

<body>
<div class="jumbotron text-center">
  <h2>ajax(List형 객체 가져오기)</h2>

</div>
<div class="container">
	<form id="frm01" class="form"  method="post">
  	<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
	    <input placeholder="제목" name=""  class="form-control mr-sm-2" />
	    <input placeholder="내용" name=""  class="form-control mr-sm-2"/>
	    <button id="schBtn" class="btn btn-info" type="button">Search</button>
	    <button class="btn btn-success" 
	    	data-toggle="modal" data-target="#exampleModalCenter"
	        type="button">등록</button>
 	</nav>
	</form>
   <table class="table table-hover table-striped">
   	<col width="25%">
   	<col width="25%">
   	<col width="25%">
   	<col width="25%">
    <thead>
      <tr class="table-success text-center">
        <th>번호</th>
        <th>물건명</th>
        <th>가격</th>
        <th>갯수</th>
      </tr>
    </thead>	
    <tbody>
    </tbody>
	</table>    
    
</div>
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">타이틀</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
		<form id="frm02" class="form"  method="post">
	     <div class="row">
	      <div class="col">
	        <input type="text" class="form-control" placeholder="사원명 입력" name="ename">
	      </div>
	      <div class="col">
	        <input type="text" class="form-control" placeholder="직책명 입력" name="job">
	      </div>
	     </div>
	    </form> 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
</body>