<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/com/bootstrap.min.css" >
<style>
	td{text-align:center;}
	#loadBtn{
		position:fixed; /* 화면에 고정 */
		top: 40%; /*화면의 아래위로 중간*/
		left: 50%; /*화면의 좌우로 중간*/
	}
</style>
<script src="/com/jquery-3.7.1.js"></script>
<script src="/com/bootstrap.min.js"></script>
<script src="https://unpkg.com/vue"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	
	
<script type="text/javascript">
/*
# 사원정보 관리
1. backend의 DB와 연결된 사원정보 관리 처리
	1) backend
	 	a05_ajax\a01_controller\A21_CityController.java
	 	
	 	/getCityList /insertCityVue  /getCity /updateCityVue /deleteCity					
	2) frontend
		b03_vue_axios\a03_cityManager.html
		
	3) 속성 정리
	// cityName country (검색)
	// cityId cityName country population area foundedDate	
2. 이벤트 처리
	1) 이벤트 대상 요소 객체 선정 속성
		v-on:이벤트명="함수", @이벤트명="함수" 로 처리하여 이벤트 처리를 한다.
	2) 검색의 경우, 입력 후, enter키를 입력하거나, 항목 입력 후, search 버튼을 입력시,
		search() 함수가 호출 되도록 한다.

*/
	$(document).ready(function(){
		// http://localhost:5050/cityListVue
		const app = Vue.createApp({
			name:"App",
			data(){
				return { msg:"도시 정보 관리(axios)!",
						 sch:{cityName:"",country:""},
						 cityList:[],
						 city:{cityId:0, cityName:"", country:"", population:0, area:0.0, foundedDate:'2025-09-01',
						 isLoading:false}
				}
			},
			// 초기화면에 로딩될 때, 처리하는 함수..(vue의 life cycle 함수 )
			created(){
				this.search()
			},
			methods:{
				
				// 검색 처리
				search(){
					this.isLoading = true;
					axios.get("/getCityList", {params:this.sch}).then(response=>{
						console.log(response.data)
						
						this.cityList = response.data
						this.isLoading = false;
						
					}).catch(err=>{
						console.log(err)
					})	
					
				},
				// 모달창으로 등록 form을 로딩하는 메서드
				registerFrm(){
					this.city = {cityId:0}  // 입력된 내용 초기화
					// cityRegBtn cityUptBtn cityDelBtn modalTitle
					$("#modalTitle").text("도시 정보 등록")
					$("#cityRegBtn").show()
					$("#cityUptBtn").hide()
					$("#cityDelBtn").hide()

				},
				// 입력 후, 등록 버튼 클릭사 vue axio ajax 처리..
				insertCity(){
					if(confirm("도시 정보 등록 하시겠습니까?")){
						
						console.log("도시 정보 등록")
						console.log(this.city)
						axios.post("/insertCityVue", this.city).then(response=>{
							console.log(response.data)
							alert(response.data)
							this.city = {cityId:0}  // 입력된 내용 초기화
							this.search()  // 재 검색 처리
						}).catch(err=>{
							console.log(err)
						})
					}
				},
				updateCity(){
					if(confirm("도시 정보 수정 하시겠습니까?")){
						console.log("도시 수정 ")
						console.log(this.city)
						axios.put("/updateCityVue", this.city).then(response=>{
							console.log(response.data)
							alert(response.data)
							//this.city = {cityId:0}  // 입력된 내용 초기화
							this.search()  // 재 검색 처리
						}).catch(err=>{
							console.log(err)
						})
					}
				},
				deleteCity(){
					if(confirm("도시 정보 삭제 하시겠습니까?")){
						console.log("도시 정보 삭제")
						console.log(this.city)
						axios.delete("/deleteCity", {params:{cityId:this.city.cityId} }).then(response=>{
							console.log(response.data)
							alert(response.data)
							this.city = {cityId:0}  // 입력된 내용 초기화
							this.search()  // 재 검색 처리#closeclose")
							$(".close").click()
							
						}).catch(err=>{
							console.log(err)
						})
					}
				},				
				// 상세 데이터 로딩
				getCity(cityId){
					$("#loadFrm").click()
					$("#modalTitle").text("도시 정보 상세")
					$("#cityRegBtn").hide()
					$("#cityUptBtn").show()
					$("#cityDelBtn").show()
					axios.get("/getCity",{params:{cityId:cityId}}).then(response=>{
						this.city = response.data
						console.log(this.city.foundedDate)
						var dte = new Date(this.city.foundedDate)
						this.city.foundedDate = formatDate(dte)
						console.log(this.city.foundedDate)
					}).catch(err=>{
						console.log(err)
					})
					
				}
			}
		})
		
		app.mount(".container")
	});
	function formatDate(date) {
	    let year = date.getFullYear();
	    let month = String(date.getMonth() + 1).padStart(2, '0'); // 월은 0부터 시작하므로 +1
	    let day = String(date.getDate()).padStart(2, '0');       // 일자를 2자리로 보장

	    return `${year}-${month}-${day}`;
	}		
</script>
</head>

<body>

<div class="container">
	<div class="jumbotron text-center">
  	<h2>{{msg}}</h2>

	</div>
	<form id="frm01" class="form"  method="post">
  	<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
	    <input placeholder="제목" name=""  class="form-control mr-sm-2" />
	    <input placeholder="내용" name=""  class="form-control mr-sm-2"/>
	    <button class="btn btn-info" type="submit">Search</button>
	    <button class="btn btn-success"  id="loadFrm" @click="registerFrm"
	    	data-toggle="modal" data-target="#exampleModalCenter"
	        type="button">등록</button>
 	</nav>
	</form>
   <table class="table table-hover table-striped">
   	<col width="25%">
   	<col width="25%">
   	<col width="25%">
   	<col width="25%">
    <thead>
    
      <tr class="table-success text-center">
        <th>도시아이디</th>
        <th>도시명</th>
        <th>국가</th>
        <th>인구</th>
      </tr>
    </thead>	
    <tbody>
    	<tr v-for="city in cityList" @dblclick="getCity(city.cityId)">
    		<td>{{city.cityId}}</td><td>{{city.cityName}}</td>
    		<td>{{city.country}}</td><td>{{city.population.toLocaleString()}}</td></tr>
    </tbody>
	</table>    
	<!-- 서버에서 데이터 가져올 때, 로딩되기 전에 화면 표시.. -->
	<button class="btn btn-primary" id="loadBtn" v-show="isLoading" disabled>
	  <span class="spinner-border spinner-border-sm"></span>
	  Loading..
	</button>    
	
	<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered" role="document">
	    <div class="modal-content">
	      <div class="modal-header">   
	        <h5 class="modal-title" id="modalTitle">도시관리등록</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
			<form id="frm02" class="form"  method="post">
			<!-- cityId cityName country population area foundedDate -->
		     <div class="row">
		      <div class="col">
		        <input type="text" class="form-control" readonly v-model="city.cityId" value="0">
		      </div>
		     </div>
		     <!-- 
	private int cityId;
	private String cityName;
	private String country;
	private int population;
	private double area;
	@DateTimeFormat(pattern = "yyyy-MM-dd")
	private Date foundedDate;		     
		     
		      -->
		     <div class="row">
		      <div class="col">
		        <input type="text" class="form-control" placeholder="도시명 입력" v-model="city.cityName">
		      </div>
		     </div>		
		     <div class="row">
		      <div class="col">
		        <input type="text" class="form-control" placeholder="나라명 입력" v-model="city.country">
		      </div>
		     </div>	
		     <div class="row">
		      <div class="col">
		        <input type="number" class="form-control" placeholder="인구 입력" v-model="city.population">
		      </div>
		     </div>	
		     <div class="row">
		      <div class="col">
		        <input type="number" class="form-control" placeholder="면적 입력" v-model="city.area">
		      </div>
		     </div>	
		     <div class="row">
		      <div class="col">
		        <input type="date" class="form-control" placeholder="건설일 입력" v-model="city.foundedDate">
		      </div>
		     </div>			     		     		     		          
		    </form> 
	      </div>
	      <div class="modal-footer">
	        <button type="button" @click="insertCity" id="cityRegBtn" class="btn btn-success">등 록</button>
	        <button type="button" @click="updateCity"  id="cityUptBtn" class="btn btn-primary">수 정</button>
	        <button type="button" @click="deleteCity"  id="cityDelBtn" class="btn btn-warning">삭 제</button>
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	        
	      </div>
	    </div>
	  </div>
	</div>	
	
	
</div>




</body>