<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/com/bootstrap.min.css" >
<style>
	td{text-align:center;}
</style>
<script src="/com/jquery-3.7.1.js"></script>
<script src="/com/bootstrap.min.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		search()	
		// form input에서 enter키 입력시 submit 자동처리 방지..
	    $("#frm01").on("keydown", "input", function(e) {
	        if (e.key === "Enter") {
	            e.preventDefault();  // Enter 키에 의한 자동 submit 방지
	        }
	    });	
		$("#schBtn").on("click",function(){
			search()
		})
		$("#regBtn").on("click",function(){
			if(confirm("등록하시겠습니까?")){
				$.ajax({
					url:"insertAlbum",
					type:"post",
					data:$("#frm02").serialize(),
					success:function(msg){
						search() // 기존 리스트 화면 재검색
						alert(msg)
						$("#frm02")[0].reset()
						
					}
				})
			}
		})
		$("#uptBtn").on("click",function(){
			if(confirm("수정하시겠습니까?")){
				$.ajax({
					url:"updateAlbum",
					type:"put",
					data:$("#frm02").serialize(),
					success:function(msg){
						search()
						alert(msg)
					}
				})
			}
		})
		$("#delBtn").on("click",function(){
			if(confirm("삭제하시겠습니까?")){
				$.ajax({
					url:"deleteAlbum",
					type:"delete",
					data:{albumId:$("[name=albumId]").val()},
					success:function(msg){
						search() // 기존 리스트 화면 재검색
						alert(msg)
						$("#frm02")[0].reset()
						$(".close").click() // 모달창 닫기 처리.
						
					}
				})
			}
		})		
		
		
		// input 중에 클래스가 sch로 선언된 것은 enter키를 입력시 검색 처리..
		$(".sch").on("keydown",function(e){
			if(e.key === "Enter"){
				search()
			}
		})
		$("#regLoadBtn").on("click",function(){
		      $("#modalTitle").text("앨범 등록")
		      $("#regBtn").show()
		      $("#uptBtn").hide()
		      $("#delBtn").hide()
		      $("#frm02")[0].reset() // 초기화 - 등록/수정시 그대로 남아 있는 경우가 있기에..
		})
		
	});
	function search(){
		$.ajax({
			url:"getMusicAlums",
			data:$("#frm01").serialize(),  // 조회하는 form의 데이터 key=val형식 자져오기
			dataType:"json",
			success:function(albumList){
				let addHTML = ""
				$(albumList).each(function(idx, album){
					addHTML+=`<tr ondblclick="goDetail(${album.albumId})"><td>${album.albumId}</td><td>${album.albumTitle}</td>
								<td>${album.artist}</td><td>${album.genre}</td></tr>`

				})
				$("tbody").html(addHTML);
			},
			error:function(err){
				console.log(err)
			}
		})
	}
	function goDetail(albumIdVal){
		//alert(albumIdVal)
		$("#regLoadBtn").click() // 모달창을 로딩하는 버튼을 강제 수행..
		$("#modalTitle").text("앨범 상세")
		$("#regBtn").hide()
		$("#uptBtn").show()
		$("#delBtn").show()
		$.ajax({
			url:"getAlbum",
			data:{albumId:albumIdVal},
			dataType:"json",
			success:function(album){
				$("#frm02 [name=albumId]").val(album.albumId)
				$("#frm02 [name=artist]").val(album.artist)
				$("#frm02 [name=albumTitle]").val(album.albumTitle)
				let date = new Date(album.releaseDate)
				$("#frm02 [name=releaseDate]").val(formatDate(date))
				$("#frm02 [name=genre]").val(album.genre)
				$("#frm02 [name=price]").val(album.price)
			},
			error:function(err){
				console.log(err)
			}
		})
	}
	function formatDate(date) {
	    let year = date.getFullYear();
	    let month = String(date.getMonth() + 1).padStart(2, '0'); // 월은 0부터 시작하므로 +1
	    let day = String(date.getDate()).padStart(2, '0');       // 일자를 2자리로 보장
	    return `${year}-${month}-${day}`;
	}			
	
</script>
</head>
  
<body>
<div class="jumbotron text-center">
  <h2>음악 앨범 리스트</h2>

</div>

<div class="container">
	<form id="frm01" class="form"  method="post">
  	<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
	    <input placeholder="제목" name="albumTitle"  class="form-control mr-sm-2 sch" />
	    <input placeholder="가수" name="artist"  class="form-control mr-sm-2 sch"/>
	    <input placeholder="쟝르" name="genre"  class="form-control mr-sm-2 sch"/>
	    <button id="schBtn" class="btn btn-info" type="button">Search</button>
	    <button class="btn btn-success" id="regLoadBtn"
	    	data-toggle="modal" data-target="#exampleModalCenter"
	        type="button">등록</button>
 	</nav>
	</form>
   <table class="table table-hover table-striped">
   	<col width="25%">
   	<col width="25%">
   	<col width="25%">
   	<col width="25%">
    <thead>
      <tr class="table-success text-center">
        <th>엘범아이디</th>
        <th>제목</th>
        <th>가수</th>
        <th>장르</th>
      </tr>
    </thead>	
    <tbody>
    </tbody>
	</table>    
    
</div>
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalTitle">타이틀</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
<!-- 
	private int albumId;
	private String albumTitle;
	private String artist;
	private Date releaseDate;
	private String genre;
	private int price;
 -->      
      <div class="modal-body">
		<form id="frm02" class="form"  method="post">
	     <div class="row">
	      <div class="col">
	        <input type="text" readonly value="0" class="form-control" name="albumId">
	      </div>
	      <div class="col">
	        <input  name="albumTitle" placeholder="앨범 타이틀 입력" type="text" class="form-control" >
	      </div>
	     </div>
	     <div class="row">
	      <div class="col">
	         <input  name="artist" placeholder="아티스트 입력" type="text" class="form-control" >
	      </div>
	      <div class="col">
	        <input  name="releaseDate"  placeholder="날짜 선택"  type="date" class="form-control" >
	      </div>
	     </div>	     
		     <div class="row">
	      <div class="col">
	         <input  name="genre" placeholder="장르 입력" type="text" class="form-control" >
	      </div>
	      <div class="col">
	        <input  name="price"  placeholder="가격 입력" type="number" class="form-control" >
	      </div>
	     </div>	      
	    </form> 
      </div>
      <div class="modal-footer">
      <!-- 
      $("#modalTitle").text("앨범 등록")
      $("#regBtn").show()
      $("#uptBtn").hide()
      $("#delBtn").hide()
      $("#frm02")[0].reset() // 초기화 - 등록/수정시 그대로 남아 있는 경우가 있기에..
       -->
      	<button id="regBtn" type="button" class="btn btn-success">등록</button>
      	<button id="uptBtn" type="button" class="btn btn-primary">수정</button>
      	<button id="delBtn" type="button" class="btn btn-warning">삭제</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>
</body>