<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/com/bootstrap.min.css" >
<style>
	td{text-align:center;}
</style>
<script src="/com/jquery-3.7.1.js"></script>
<script src="/com/bootstrap.min.js"></script>
<script src="https://unpkg.com/vue"></script>
	
	
<script type="text/javascript">
	$(document).ready(function(){
		// http://localhost:5050/b02_vue/a02_componentExp.html
		const app = Vue.createApp({
			name:"App",
			data(){
				return { msg:"좋아요!! 클릭 클릭!!"}
			}
		})
		app.component("love-sender",{
			data(){
				return {
					hearts:"💗"
				}
			},
			template:`
				<button @click="hearts +=' 💗'">{{hearts}}</button>
			`
		})
		app.mount(".container")
	});
	
 	// ex) a02_componentExp.html에서
 	//  버튼  클릭시, ♥가 추가적으로 누적되어 출력되게 하세요.. 컴포넌트명 <love-sender>
 	//   오늘의 날씨 : [♥♥ ]
 	//   오늘의 건강 : [♥♥♥♥ ]
 	//   오늘의 기분 : [♥♥♥ ] 	
	
</script>
</head>

<body>

<div class="container">
	<div class="jumbotron text-center">
  	<h2>{{msg}}</h2>
  	오늘의 날씨 : <love-sender></love-sender><br>
  	오늘의 건강 : <love-sender></love-sender><br>
  	오늘의 기분 : <love-sender></love-sender><br>

	</div>
	<form id="frm01" class="form"  method="post">
  	<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
	    <input placeholder="제목" name=""  class="form-control mr-sm-2" />
	    <input placeholder="내용" name=""  class="form-control mr-sm-2"/>
	    <button class="btn btn-info" type="submit">Search</button>
	    <button class="btn btn-success" 
	    	data-toggle="modal" data-target="#exampleModalCenter"
	        type="button">등록</button>
 	</nav>
	</form>
   <table class="table table-hover table-striped">
   	<col width="10%">
   	<col width="50%">
   	<col width="15%">
   	<col width="15%">
   	<col width="10%">
    <thead>
    
      <tr class="table-success text-center">
        <th>번호</th>
        <th>제목</th>
        <th>작성자</th>
        <th>작성일</th>
        <th>조회</th>
      </tr>
    </thead>	
    <tbody>
    	<tr><td></td><td></td><td></td><td></td><td></td></tr>
    	<tr><td></td><td></td><td></td><td></td><td></td></tr>
    	<tr><td></td><td></td><td></td><td></td><td></td></tr>
    </tbody>
	</table>    
    
</div>
</body>