<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/com/bootstrap.min.css" >
<style>
	td{text-align:center;}
</style>
<script src="/com/jquery-3.7.1.js"></script>
<script src="/com/bootstrap.min.js"></script>
<script src="https://unpkg.com/vue"></script>
<script type="text/javascript">
	$(document).ready(function(){
		// http://localhost:5050/b01_vue/a04_vue_diretiveDec.html
		// - mustach형식으로 선언 : 디지털 명함으로 - 이름 회사, 이메일
		// - 비밀암호문 전송(v-text) : <p>작전 개시: <strong>Eagel</strong></p>
		// - 오늘의 명언표시(v-html) : 인생에서 가능 큰 영광은 <br><srong>결코 넘어지지 않는 것</strong>에 있는 것일 아니라
		//                          <em>넘어질 때마다 일어서는 것</em>에 있다
		var vm = Vue.createApp({
			name:"App",
			data(){
				return {
					name:"홍길동", company:"좋은 회사", email:"abc.gmail.com",
					sendEnText:"<p>작전 개시: <strong>Eagel</strong></p>",
					wiseSaying:"인생에서 가능 큰 영광은 <br><srong>결코 넘어지지 않는 것</strong>에 있는 것일 아니라 <em>넘어질 때마다 일어서는 것</em>에 있다"
				}
			}
		}).mount(".container")
		
	});
</script>
</head>
<body>
<div class="container">
	<div class="jumbotron text-center">
    <div class="card text-center">
        <div class="card-header">
            <h2>{{ name }}</h2>
        </div>
        <div class="card-body">
            <h5 class="card-title">{{ company }}</h5>
            <p class="card-text">{{ email }}</p>
        </div>
    </div>
    <div class="card-body">
    	<p v-text="sendEnText"></p>
    </div>
    <div class="card text-center">
        <div class="card-header">
            <h2>오늘의 명언</h2>
        </div>
        <div class="card-body">
            <blockquote class="blockquote" v-html="wiseSaying"></blockquote>
        </div>
    </div>    
    
    

	</div>
	<form id="frm01" class="form"  method="post">
  	<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
	    <input placeholder="제목" name=""  class="form-control mr-sm-2" />
	    <input placeholder="내용" name=""  class="form-control mr-sm-2"/>
	    <button class="btn btn-info" type="submit">Search</button>
	    <button class="btn btn-success" 
	    	data-toggle="modal" data-target="#exampleModalCenter"
	        type="button">등록</button>
 	</nav>
	</form>
   <table class="table table-hover table-striped">
   	<col width="10%">
   	<col width="50%">
   	<col width="15%">
   	<col width="15%">
   	<col width="10%">
    <thead>
    
      <tr class="table-success text-center">
        <th>번호</th>
        <th>제목</th>
        <th>작성자</th>
        <th>작성일</th>
        <th>조회</th>
      </tr>
    </thead>	
    <tbody>
    	<tr><td></td><td></td><td></td><td></td><td></td></tr>
    	<tr><td></td><td></td><td></td><td></td><td></td></tr>
    	<tr><td></td><td></td><td></td><td></td><td></td></tr>
    </tbody>
	</table>    
    
</div>
</body>