@charset "UTF-8";
/*기본 스타일*/
body{
	font-family:Arial, sans-serif;
	margin:0;
	padding:0;
	background-color:#f4f4f4;
}
header{
	background-color:#333;
	color:white;
	text-align:center;
	padding:20px 0;
}
header h1{
	margin:0;
	font-size:36px;
}
nav ul{
	list-style-type:none; /*disc 마커 삭제*/
	display:flex; /*옆으로 나열 처리*/
	padding: 0;
	margin:20px 0 0;
	justify-content:center; /*내용 정렬옵션..*/
}
nav ul li{
	margin:0 15px;
}
nav ul li a{
	color:white;
	text-decoration:none; /*underline 없애기*/
	font-size:18px;
}
nav ul li a:hover{
	color:yellow;
	font-size:20px;
	font-weight: bolder;
}
main{
	padding:20px;
}
section{
	padding:20px;
	background-color:white;
	margin-bottom:20px; /* margin-XXX  top/bottom/left/right */
}
section h2{
	font-size:24px;
	margin-bottom:15px;
}
article{
	margin-bottom:15px; /* margin-XXX  top/bottom/left/right */
}
article h3{
	font-size:20px;
	font-weight:bold;
}
footer{
	background-color:#333;
	color:white;
	text-align:center;
	padding:10px 0;
	margin-top:20px;	
}





