@charset "UTF-8";
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title {
    text-align: center;
    color: #333;
}

.subtitle {
    margin-top: 20px;
    color: #555;
}
.form {
    display: flex;
    flex-direction: column;
}
.form label {
    margin-bottom: 5px;
    font-weight: bold;
}
/* ctrl + shift + del 브라우저 캐시 삭제*/
.form input, .form textarea, .form select{
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form button {
    padding: 10px;
    background-color: navy;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form button:hover {
    background-color: #218838;
}

.data-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.data-table th, .data-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.data-table th {
    background-color: #f2f2f2;
}

.data-table tr:hover {
    background-color: #f1f1f1;
}
