<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/com/bootstrap.min.css" >
<style>
	td{text-align:center;}
</style>
<script src="/com/jquery-3.7.1.js"></script>
<script src="/com/bootstrap.min.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
	
	});
</script>
</head>

<body>
<div class="jumbotron text-center">
  <h2>회원가입</h2>

</div>
<div class="container">
	<form id="frm01" class="form"  method="post">
  	<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
	    <input placeholder="아이디" name="id"  class="form-control mr-sm-2" />
	    <input placeholder="패스워드" name="pwd"  class="form-control mr-sm-2" />
	    <input placeholder="이름" name="name"  class="form-control mr-sm-2" />
	    <input placeholder="권한" name="auth"  class="form-control mr-sm-2" />
	    <input placeholder="포인트" name="point"  class="form-control mr-sm-2"/>
	    <button class="btn btn-info" type="submit">등록</button>
 	</nav>
	</form>
   <table class="table table-hover table-striped">
   	<col width="20%">
   	<col width="20%">
   	<col width="20%">
   	<col width="20%">
   	<col width="20%">
    <thead>
      <tr class="table-success text-center">
        <th>아이디</th>
        <th>패스워드</th>
        <th>이름</th>
        <th>권한</th>
        <th>포인트</th>
      </tr>
    </thead>	
    <tbody>
        
    	<tr><td>{{mem.id}}</td><td>{{mem.pwd}}</td>
            <td>{{mem.name}}</td><td>{{mem.auth}}</td><td>{{mem.point}}</td>
        
        </tr>
    </tbody>
	</table>    
</div>
</body>