<!DOCTYPE html>
<html>
<head>
<meta charset='utf-8' />
<script src='/dist/index.global.js'></script>
<link rel="stylesheet" href="/com/bootstrap.min.css" >
<style>
	td{text-align:center;}
</style>
<script src="/com/jquery-3.7.1.js"></script>
<script src="/com/bootstrap.min.js"></script>
<script>

  document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');
    // 기준날짜를 오늘날짜로 iso형식으로 출력..
    let toDay = new Date()
    //alert(toDay.toISOString())
    var showDate = toDay.toISOString().split("T")[0]  // 날짜만 추출하여 기준 날짜로 오늘 날짜 설정..

    var calendar = new FullCalendar.Calendar(calendarEl, {
      headerToolbar: {
        left: 'prev,next today',
        center: 'title',
        right: 'dayGridMonth,timeGridWeek,timeGridDay'
      },
      initialDate: showDate,
      navLinks: true, // can click day/week names to navigate views
      selectable: true,
      selectMirror: true,
      select: function(event) {
		console.log("일정 등록 내용")
		console.log(event)
		//let event = arg.event
		$("#showModal").click() // 해당 요소객체를 강제 클릭 ==> 모달창이 로딩(일정을 입력..)
		addForm(event, "I")
        calendar.unselect()
      },
      eventClick: function(arg) {
		console.log("일정상세")
		console.log(arg.event)
		$("#showModal").click() // 상세화면을 위한 모달창 로딩..
		addForm(arg.event, "D")
      },
      editable: true,
      dayMaxEvents: true, // allow "more" link when too many events
      events: function(info, successCallback, failureCallback){
		$.ajax({
			url:"calList",
			dataType:"json",
			success:function(calList){
				// 받은 내장 함수의 매개변수를 통해서 서버(backend)에서 받은 일정을 설정 처리
				successCallback( calList )
			},
			error:function(err){
				console.log(err)
				failureCallback(err)	
			}
			
		}) 	

      }
    });

    calendar.render();
    
    
    
    
    
    $("#regBtn").click(function(){
		if(confirm("일정등록하시겠습니까?")){
			callAjax("calInsert")
		}
    })
    $("#uptBtn").click(function(){
		if(confirm("일정수정하시겠습니까?")){
			callAjax("calUpdate")
		}
    })
    $("#delBtn").click(function(){
		if(confirm("일정삭제하시겠습니까?")){
			callAjax("calDelete")
		}
    })    

    function addForm(event, proc){
		$("#frm")[0].reset() // 입력 후, 상세 내용(수정/삭제)로 같은 모달창을 사용하기에 초기화 처리.
		$("[name=start]").val(event.startStr)
		if(event.end == null){
			$("[name=end]").val(event.startStr)
		}else{
			$("[name=end]").val(event.endStr)
		}
		$("[name=allDay]").val(event.allDay?1:0)  // allDay boolean true/false ==> true이면 1, false이면 0
		if(proc=="I"){
			$("#regBtn").show();$("#uptBtn").hide();$("#delBtn").hide();
			$("#modalTitle").text("일정 등록")			
		}else{
			$("#regBtn").hide();$("#uptBtn").show();$("#delBtn").show();
			$("#modalTitle").text("일정 상세")
			//id  title writer start end content backgroundColor textColor allDay urlLink
			$("[name=id]").val(event.id)
			$("[name=title]").val(event.title)
			$("[name=backgroundColor]").val(event.backgroundColor)
			$("[name=textColor]").val(event.textColor)
			// 추가 속성.. 
			$("[name=writer]").val(event.extendedProps.writer)
			$("[name=content]").val(event.extendedProps.content)
			$("[name=urlLink]").val(event.extendedProps.urlLink)
		}		

    }
    
    function callAjax(loc){
    	$.ajax({
    		url:loc,
    		type:"post",
    		data:$("#frm").serialize(),
    		dataType:"json",
    		success:function(data){
    			console.log(data)
    			alert(data.msg)
    			// 캘린더 재 랜더링(일정을 변경된 것 다시 반영)
    			
    			calendar.removeAllEvents()
    			// 다시 로딩된 일정을 추가 처리..
    			calendar.addEventSource(data.list)
    			//console.log(frm)
    			//location.reload() // 화면 전체 refresh 처리..
    			$(".close").click()
    			
    		},
    		error:function(err){
    			console.log(err)
    		}
    	})
      }    
    
  });

  

</script>
<style>

  body {
    margin: 40px 10px;
    padding: 0;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 14px;
  }

  #calendar {
    max-width: 1100px;
    margin: 0 auto;
  }

</style>
</head>
<body>
  	<div id='calendar'></div>
	<!-- 모달창을 이벤트로 로딩하기 위한 요소 객체 -->
	<div id="showModal" data-toggle="modal" data-target="#exampleModalCenter" ></div>  	
	<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="modalTitle">일정등록</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
			<form id="frm" class="form"  method="post">
				<input type="hidden" name="id" value="0"/>
		     <div class="row">
		      <div class="col">
		        <input name="title" placeholder="일정 입력" type="text" class="form-control"  >
		      </div>
		      <div class="col">
		        <input name="writer" placeholder="작성자 입력" type="text"  class="form-control" >
		      </div>
		     </div>
			 <div class="row">
		      <div class="col">
		        <input name="start" readonly type="text" class="form-control"  >
		      </div>
		      <div class="col">
		        <input name="end"  readonly  type="text"  class="form-control" >
		      </div>
		     </div>	       
		     <!--  id title writer start end content backgroundColor textColor allDay urlLink -->
			 <div class="row">
		      <div class="col">
		        <input name="backgroundColor" data-toggle="tooltip" title="배경색상 선택"  value="#0099cc"   type="color" class="form-control"  >
		      </div>
		      <div class="col">
		        <input name="textColor" data-toggle="tooltip" title="글자색상 선택"    value="#ccffff"   type="color"  class="form-control" >
		      </div>
		     </div>	 
		     <div class="row">
		      <div class="col">
		        <select name="allDay" class="form-control"  >
		        	<option value="1">종일</option>  <!--  1 ==> true, 0 ==> false -->
		        	<option value="0">시간</option>
		        </select>
		      </div>
		      <div class="col">
		        <input name="urlLink" placeholder="참조 주소 입력" type="text"  class="form-control" >
		      </div>
		     </div>		
		     <div class="row">
		      <div class="col">
		      <textarea name="content" placeholder="내용 입력" rows="5"  class="form-control"></textarea>
		      </div>
		     </div> 
		    </form> 
	      </div>
	      <div class="modal-footer">
	        
	        <button id="regBtn" type="button" class="btn btn-success">등록</button>
	        <button id="uptBtn"  type="button" class="btn btn-primary">수정</button>
	        <button id="delBtn"  type="button" class="btn btn-danger">삭제</button>
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>
</body>
</html>
